{% extends 'base.html.twig' %}
{% block title %}New Invoice{% endblock %}
{% block body %}
<div class="container text-dark">
    <table class="table text-dark">
            <thead>
                <tr>
                    <th class="fs-4 text-warning">Votre Panier</th>
                    <th class="fs-4 ">Prix</th>
                    <th class="fs-4 text-success">Quantité</th>
                </tr>
            </thead>
            <tbody>
                {% for row in cartProducts %}
            <tr>
                <td  class="fs-5">{{ row.products.name }}  
                    <span  class="text-light fs-6">{{ row.products.description }}</span></td>
                <td class="fs-4">{{ row.products.price }} €</td>
                <td class=" fs-4">
                    {{ row.qty }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2"> Aucun article ajouté </td>            
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="fs-4 border border-4 rounded px-2"style="float:right"> Total : 
        <span class="text-warning fs-4"> {{ total }} € </span></p>
        <h1>Donnez votre adresse</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class=" text-success  mt-2 border border-success border-5 fs-5">{{ button_label|default('ACHETER') }}</button>
        {{ form_end(form) }}
</div>
{% endblock %}