{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="container">
    <h1 class="txt">Produits</h1>
    <table class="table  text-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ product.category }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mx-1" href="{{ path('app_products_index') }}">back to list</a>
</div>
{% endblock %}
