{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container">
    <h1 class="txt">Category</h1>
    <table class="table text-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-primary mx-1" href="{{ path('app_category_show', {'id': category.id}) }}">Afficher</a>
                    <a class="btn btn-warning mx-1" href="{{ path('app_category_edit', {'id': category.id}) }}">modifier</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success mx-1"href="{{ path('app_category_new') }}">Ajouter</a>
</div>
{% endblock %}
