{% extends 'base.html.twig' %}

{% block title %} {{ category.name }} {% endblock %}

{% block body %}

<div class="scroll d-flex flex-column align-items-center">
    <h3 class="fx-5 text-center text-dark">
    {{ category.name }} 
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-success btn-sm"style="max-width: 350px;" href="{{ path('app_products_new') }}">Nouveau Produit</a>
    {% endif %}
    </h3>
</div>
<div class="scroll d-flex justify-content-center flex-wrap m-0">
    {% for prod in prods %}{% if prod.category == category.name %}
        <div class="scroll mx-2 text-light d-flex flex-column align-items-center" style="max-width: 250px">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-success mt-2 btn-sm"style="max-width: 200px;" href="{{ path('app_products_edit', {'id': prod.id}) }}">Modifier</a>
            {% endif %}
            <h5 class="fs-6 text-secondary text-center mt-1">{{ prod.name }}</h5>
            <div class="card col-12 text-center bg-light">
                <img src="/img/{{prod.image}}.jpg" class="card-img-top" alt="...">
                    <h5 class="card-card txt fs-3 "></span>{{ prod.price }}€ </span></h5>
                    <span class="d-flex justify-content-center mx-2">
                    <a class="btn fond text-light mb-2" href="{{ path('cart_add', {'products' : prod.id})}}">Ajouter au panier</a><br>
                    <a class="btn btn-secondary mb-2  mx-2" href="{{ path('app_products_show', {'id': prod.id}) }}">Voir</a>
                    </span>
            </div>
        </div>
    {% endif %}{% endfor %}
</div>

{% endblock %}
