{% extends 'base.html.twig' %}

{% block title %}{{menu.name}}{% endblock %}

{% block body %}

<div class="scroll container d-flex flex-column align-items-center">
    <h1 class="txt text-center">{{ menu.name }}</h1>
      <div class="card d-flex m-2" style="width: 300px;">
        <img src="/img/{{menu.image}}.jpg" class="d-flex" alt="..." >
      </div>
<div class="scroll container d-flex flex-column align-items-center ">
    {% for cat in cats %}
        {% if cat.menu == menu.name %}
        <a class="scroll dropdown-item bg-secondary text-light text-center text-decoration-none m-2"aria-current="page" 
            style="max-width:300px;border-radius: 5px;;"
            href="{{ path('app_category_show',{'id': cat.id}) }}">
            {{ cat.name }}</a>
        
        {% endif %}
    {% endfor %}
</div>
    <a class="btn btn-sm btn-primary mx-1" href="{{ path('app_menu_index') }}">Retour</a>
</div>

{% endblock %}
