<nav class="scroll navbar py-0 navbar-expand-sm navbar-light fond2 mx-2">
    <a class="navbar-brand txtFont1 fs-4" href="{{ path('app_home') }}">
    <img src="/img/logo.jpg" width="30" alt="" class="d-inline-block align-middle mr-2 mx-2"style="margin-top: -5px"/>Création Ecolo</a>
    <button class="navbar-toggler mt-1 mx-1" type="button" data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ">
            <li>
                <a class="nav-link " aria-current="page" target="_blank" href="https://www.facebook.com/Création-Écolo-107410908579973"><i class="bi bi-facebook"></i></a>
            </li>
            <li>
                <a class="nav-link " aria-current="page" target="_blank" href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <li>
                <a class="nav-link " aria-current="page" target="_blank" href="https://www.pinterest.fr/rjbira/_created"><i class="bi bi-pinterest"></i></a>
            </li>
            <form class="d-flex form-sm mt-1" style="height:30px">
                <input class="form-control  me-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-secondary btn-sm mx-2" type="submit">Recherche</button>
            </form>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-item text-dark text-decoration-none " aria-current="page" href="{{ path('app_admin') }}">Admin</a>
            <a class="nav-item text-dark text-decoration-none mx-2" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
        {% elseif app.user and not is_granted('ROLE_ADMIN') %}
            <a class="nav-item text-dark text-decoration-none" aria-current="page" href="#">Compte</a>
            <a class="nav-item text-dark  text-decoration-none mx-2" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="nav-item text-dark text-decoration-none" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
            <a class="nav-item text-dark text-decoration-none mx-2" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </div>
</nav>
